NODE_ENV="development"
DATABASE_URL="postgresql://postgres:postgres@localhost/PASCAL"
SHADOW_DATABASE_URL="postgresql://postgres:postgres@localhost/PASCAL"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
BETTER_AUTH_SECRET="string"
BETTER_AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="..."
GOOGLE_CLIENT_SECRET="..."
OPENAI_API_KEY="..."

NEXT_PUBLIC_PUSHER_APP_KEY="..."
NEXT_PUBLIC_PUSHER_CLUSTER="..."
PUSHER_APP_ID="..."
PUSHER_APP_SECRET="..."

